@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Martel+Sans:wght@400;600;700&display=swap');

:root {
  --black: #00001a;
  --white: #fff;
  --grey: #eaeafb;
  --purple: #f5d3ff;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 15px;
  margin: 0;

  font-family: 'Arvo', serif;
  color: var(--black);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

h1 {
  font-size: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.table__btn {
  font-family: inherit;
  font-size: 15px;
  padding: 5px;
  border: 1px solid var(--black);
  border-radius: 5px;
  /* background: var(--black); */
}

.table__btn:hover {
  background: var(--black);
  color: var(--white);
}

.table-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 2.5% 40%;
  grid-template-columns: 50% 40%;
  -ms-grid-rows: 1fr 1% 1fr;
  grid-template-rows: 1fr 1fr;
      grid-template-areas:
      "table form"
      "pagination .";
  gap: 1% 2.5%;
}

.header {
  text-align: center;
}

/* Navigation header */

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 15px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

/* Sort */

.select-wrap {
  display: inline-block;
  font-size: 17px;
}

.sort {
  font-family: inherit;
  font-size: 16px;
  background: transparent;
}



/* Table */

.table {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: table;
  width: 100%;
}

.table,tr ,td {
  border: 1px solid var(--black);
  border-collapse: collapse;
  text-align: center;
}

.table__header {
  background: var(--purple);
  padding: 10px;
}

.table__header:hover {
  outline: 2px solid var(--black);
  cursor: pointer;
}

.table__row:hover {
  cursor: pointer;
  background-color: var(--grey);
}

/* Form */

.table-form {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  position: relative;

  grid-area: form;
  margin-top: 114px;
  padding: 39px;

  border: 1px solid var(--black);
  border-radius: 5px;
}

.table-form__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.25fr 10px 1fr;
  grid-template-columns: 0.25fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.table-form__label {
  -webkit-box-flex: 0.1;
      -ms-flex-positive: 0.1;
          flex-grow: 0.1;
}

.table-form__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;

  font-family: inherit;
  font-size: 15px;
}

.table-form__input--textarea {
  height: 180px;
}

.table-form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

/* Close cross */

.cross {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='%2300001A' d='M0 17.3501 17.777735-.000047l2.222213 2.168765L2.222213 19.518865z'/%3E%3Cpath fill='%2300001A' d='m2.22229.481201 17.777735 17.350147-2.222213 2.168765L.000077 2.649966z'/%3E%3C/svg%3E");
  opacity: 0.5;
}

.cross:hover {
  opacity: 1;

}

/* Pagination */

.pagination__list {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: pagination;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
  gap: 6px;
}

.pagination__btn {
  font-size: 15px;
  font-family: inherit;

  width: 30px;
  height: 30px;

  background: transparent;
  border: 1px solid var(--black);
  color: inherit;
  cursor: pointer;
}

.pagination__btn--active {
  background-color: var(--grey);
  font-weight: 700;
}


.pagination__btn:hover {
  background-color: var(--black);
  color: var(--white);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

