@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Martel+Sans:wght@400;600;700&display=swap');

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 15px;
  margin: 0;

  font-family: 'Arvo', serif;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

h1 {
  font-size: 30px;
}

.table-wrap {
  width: 50%;
}

.table {
  width: 100%;
  border: 1px solid black;
}

.table,tr ,td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

.header {
  text-align: center;
}
