@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Martel+Sans:wght@400;600;700&display=swap');

:root {
  --black: #00001a;
  --grey: #eaeafb;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 15px;
  margin: 0;

  font-family: 'Arvo', serif;
  color: var(--black);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

h1 {
  font-size: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-wrap {
  display: grid;
  grid-template-columns: 50% 40%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
      "table form"
      "pagination .";
  gap: 1% 2.5%;
}

.table-wrap__main {
  /* width: 50%; */
}

.header {
  text-align: center;
}

.table {
  grid-area: table;
  width: 100%;
}

.table,tr ,td {
  border: 1px solid var(--black);
  border-collapse: collapse;
  text-align: center;
}

.table__row:hover {
  cursor: pointer;
  background-color: var(--grey);
}

.select-wrap {
  display: inline-block;
}

/* Form */

.table-form {
  grid-area: form;
  margin-top: 98px;
  padding: 30px;

  border: 1px solid var(--black);
  border-radius: 5px;
}

.table-form__item {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.table-form__label {
  flex-grow: 0.1;
}

.table-form__input {
  flex-grow: 1;
}

.table-form__input--textarea {
  height: 180px;
}

/* Pagination */

.pagination__list {
  grid-area: pagination;
  display: flex;
  justify-self: center;
  gap: 6px;
}

.pagination__btn {
  font-size: 15px;
  font-family: inherit;

  width: 30px;
  height: 30px;

  background: transparent;
  border: 1px solid var(--black);
  color: inherit;
  cursor: pointer;
}

.pagination__btn--active {
  background-color: var(--grey);
  font-weight: 700;
}


.pagination__btn:hover {
  background-color: var(--black);
  color: white;
  transition: all 0.5s;
}
